/****** Common CSS ************/

* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Opensans-light';
    src: url(../fonts/OpenSans-Light.TTF);
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url(../fonts/OpenSans-Semibold.TTF);
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.TTF);
}

body {
    font-family: OpenSans-Regular;
    color: #000;
    -webkit-user-select: none;

}

.margin-top-30 {
    margin-top: 30px;
}
.margin-top-50 {
    margin-top: 50px;
}

a {
    color: #000;
}

a:hover,
active,
visited,
focus {
    color: #444;
    text-decoration: none;
}

.back-text {
    width: 100%;
    height: 52px;
    background-color: #000;
    font-size: 13px;
    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0;
    padding-top:3px;
    
}

.back-text img {
    width: 27px;
    
    
}

.back-text a {
    height: 42px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    line-height: 40px;
    position:relative;
    top:3px;
}

.back-text a i {
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    -moz-transform: rotate(180deg);
    /* IE 9 */
    transform: rotate(180deg);
}

.color-white {
    color: #fff;
}

.color-black {
    color: #000;
}

.orange-bg {
    /*background-color: #fb621a;*/
    background-color: #fff;
    height: 100vh;
    overflow-y: auto;
}

.white-bg {
    background-color: #fff;
    height: 100vh;
    overflow-y: auto;
}

.black-bg {
    background-color: #000;
    height: 100vh;
    overflow-y: auto;
}

a {
    text-decoration: none;
}

.p-t-r-b-l-0 {
    padding: -8px;
}

.p-tb-15-rl-0 {
    padding: 0px 0px 15px 0px;
}

.m-t-b-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.img-max-width img {
    max-width: 100%;
    height: 45px;
}

::-webkit-scrollbar {
    display: none;
}

::-moz-scrollbar {
    display: none;
}

::-o-scrollbar {
    display: none;
}

::-ms-scrollbar {
    display: none;
}

.input-field {
    margin-top: 0;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    margin: 0 ;
    box-shadow:0px 0px 0px 0px;
    color:#fff;
}

.mrgn0 {
    margin: 0;
}


/***************** Common CSS End   ************/


/***************** Start White Home page CSS ************/

.white-index-page {
    background-color: #fff;
    /*height: 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.white-index-page .index-content {
    overflow: auto;
    width: 100%;
}

.white-perpetual-heading h1 {
/*    font-family: Opensans-light;*/
    color: #000;
    text-align: center;
    font-size: 50px;
    margin: 40px 0px 25px 0px;
    font-weight:normal;
}

.-social-icon {
    /*display: table-row;*/
    text-align: center;
}

.white-social-icon p {
    margin: 15px auto 0px auto;
    display: inline-block;
    width: 90%;
}

.white-social-icon p a {
    border: 1px solid #000;
    border-radius: 25px;
    padding: 0px 25px;
    display: block;
    text-align: center;
    color: #000;
    line-height: 45px;
    text-decoration: none;
}

.white-social-icon p a:nth-child(1):hover,
active,
focus,
visited {
    background-color: #3b5998;
    color: #fff;
    border: 1px solid #fff;
}

.white-social-icon p:nth-child(2) a:hover,
active,
focus,
visited {
    background-color: #00abf0;
    color: #fff;
    border: 1px solid #fff;
}

.white-social-icon p a:hover span {
    border-color: #fff;
}

.white-social-icon p a span {
    float: left;
    border-right: 1px solid #000;
    padding: 0px 15px 0px 0px;
    line-height: 45px;
    font-size: 22px;
}

.white-sign-up p {
    margin: 15px auto 15px auto;
}

.white-sign-up p a {
   border: 1px solid #b69929;
    border-radius: 10px;
    padding: 0px 25px;
    line-height: 45px;
    display: block;
    text-align: center;
    color: #fff;
    background-color: #b69929;
    text-decoration: none;
    font-size:1.75rem;
}

.white-sign-up p a:hover,
active,
focus,
visited {
    background-color: #000000;
    color: #fff;
    border: 1px solid #000;
}

.pdng0 {
    padding: 0;
}

.custom-pdng1 {
    padding: 0 0.5em;
}


/***************** End White Home page CSS ************/


/***************** Start search page CSS ************/

.search-heading h1 {
    color: #000;
    text-align: center;
    font-size: 35px;
    padding: 15px 0px 15px 0px;
    margin: 0px;
}

.form-group .search-pannel {
    text-align: center;
    color: #000;
    border: 0px;
    box-shadow: none;
    border-radius: 25px;
    padding: 20px 10px;
    width: 75px;
    display: inline-block;
    font-family: 'OpenSans-Regular';
}

.search-overlay {
    position: relative;
    padding: 0px 0px;
    margin: 0px auto;
    height: 36px;
}

.form-group .search-pannel:focus,
active,
visited {
    text-align: center;
    color: #000;
    padding: 0px 5px;
    width: 100%;
    position: absolute;
    background-color: #fff;
    z-index: 10000;
    display: block;
    left: 0px;
    top: 0px;
    margin: 0px 0px 10px 0px;
    border: 1px solid;
    border-color: rgba(00, 00, 00, 0.1);
}

.form-group [type="search"].search-pannel::-webkit-input-placeholder {
    color: #989797;
    font-family: 'Opensans-light';
}

.brand-div {
    width: 100%;
    display: inline-block;
    margin-top: 15px;
    height: 540px;
    overflow: auto;
}

.brand-inner {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: rgba(00, 00, 00, 0.3);
    display: flex;
    width: 100%;
    margin-bottom: 3.1px;
    font-family: 'OpenSans-Semibold';
    align-items: center;
}

.brand-inner .brand-img img {
    max-width: 100%;
    padding: 5px 15px;
    height: 55px;
}

.brand-inner .brand-text p {
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    margin: 0px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.brand-inner .brand-price p {
    font-size: 18px;
    text-align: center;
    margin: 0px;
}


/***************** QR Code *********************/

.qr-code-setting {
    border-bottom: 1px solid;
    border-color: rgba(00, 00, 00, 0.2);
    width: 100%;
    background-color: #fff;
    z-index: 1;
    padding: -1px 0px 5px 0px;
}

.profile-second-img img {
    max-width: 100%;
    width: 25px;
}

.qr-code-setting a {
    color: #000;
    position: relative;
}

.qr-code-setting a fa {
    font-size: 24px;
    color: #000;
    line-height: 40px;
    position: relative;
}

.qr-code-setting a sup {
    font-family: 'OpenSans-Semibold';
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: -13px;
    font-size: 14px;
}

.qr-code-setting a:hover {
    color: #fd8305;
}

.border-img img {
    border: 1px solid;
    border-color: rgba(00, 00, 00, 0.1);
    padding: 8px;
}

.qr-code-head {
    display: flex;
    align-items: center;
}

.price-text p {
        line-height: 40px;
        font-size: 20px;
        font-family: 'OpenSans-Semibold';
}


/**********************  End Qr Code ****************************/


/**********************  Start invite friend ********************/

.invite-brand-img img {
    border: 1px solid;
    border-color: rgba(00, 00, 00, 0.1);
    padding: 10px;
}

search-heading,
h3 {
    color: #000;
    margin: 10px 0px;
    padding: 0px;
    font-family: 'Opensans-light';
}

.border-right-left-none {
    margin-bottom: 0px;
}

.border-right-left-none li {
    border-right: 0px;
    border-left: 0px;
    border-radius: 0px;
    font-family: OpenSans-Regular;

}

.border-right-left-none .list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.border-right-left-none a {
    color: #000;
}

.border-right-left-none a span {
    font-size: 12px;
}

.invite-bottom {
    border-bottom: 1px solid;
    border-color: rgba(00, 00, 00, 0.1);
    padding: 10px 15px;
}

.invite-code-head {
    margin: 15px 0px 10px 0px;
    height: 285px;
    overflow: scroll;
}

.invite-friend-list {
    overflow: scroll;
}

.invite-friend-list,
.list-group {
    margin-bottom: 0px;
}

.border-property-none .list-group-item {
    border-radius: 0px;
}

.border-property-none .list-group-item .fa {
    color: #94d154;
    font-size: 16px;
    margin-right: 5px;
}

.invite-friend-head {
    margin: 10px auto;
    display: flex;
    align-items: center;
}


.border-top {
    border-top: 1px solid;
    border-color: rgba(00, 00, 00, 0.1);
}

.border-bottom {
    border-bottom: 1px solid;
    border-color: rgba(00, 00, 00, 0.1);
}

.invite-page {
    font-size: 16px;
    font-family: 'OpenSans-Semibold';
}

.invite-page a {
    float: left;
    font-weight: bold;
}

.friend-serch-box {
    height: 200px;
    overflow: scroll;
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom: 10px solid #f4f4f4;
}

.social-icon-friends i {
    font-size: 40px;
}

.social-icon-friends .fa-facebook-square {
    color: #3a559f;
}

.social-icon-friends .fa-twitter-square {
    color: #50abf1;
}

.social-icon-friends .fa-google {
    color: #f14336;
}

.invite-no {
    padding: 10px 0px;
}


/*****************End invite friend css**************/


/*****************Start wallet css**************/

.wallet-img-max-width img {
    max-width: 100%;
    width: 30px;
}

.wallet-heading h2 {
    margin: 10px 0px;
    font-weight: bold;
    padding: 0px;
    line-height: initial;
}

.wallet-img img {
    border: 1px solid;
    border-color: rgba(00, 00, 00, 0.1);
    padding: 10px;
    margin: 0px 0px 15px 0px;
    width: auto;
    max-width: 100%;
}

.social-icon-wallet img {
    width: 35px;
    height: 35px;
}

.m-t-b-15-5 {
    margin-top: 15px;
    margin-bottom: 5px;
}

.wallet-menu {
    border-left: 1px solid;
    border-color: rgba(00, 00, 00, 0.1);
}

.wallet-menu ul {
    display: inline;
}

.wallet-menu li {
    list-style-type: none;
}

.wallet-menu li:nth-child(1) a {
    padding: 15px 0px;
    display: block;
    font-size: 24px;
    color: #000;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid;
    border-color: rgba(00, 00, 00, 0.1);
    text-decoration: none;
}

.wallet-menu li a {
    padding: 10px 0px;
    display: block;
    font-size: 24px;
    color: #000;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid;
    border-color: rgba(00, 00, 00, 0.1);
    margin: 0px;
    line-height: 24px;
    text-decoration: none;
}

.wallet-menu li a p {
    font-size: 20px;
}

.wallet-menu li a:hover,
active,
focus,
visited {
    color: #fd8305;
}


/*****************End wallet css**************/


/*****************Start graph css**************/

.graph-heading h2 {
    margin: 15px 0px;
    font-size: 45px;
    color: #000;
}

.graph-content {
    margin-top: 33px;
    float: left;
    width: 100%;
}

.graph img {
    border: 1px solid;
    border-color: rgba(00, 00, 00, 0.1);
    padding: 10px;
    margin: 10px auto 0px auto;
    width: 85%;
    max-width: 100%;
    display: flex;
    align-items: center;
}

.social-icon-wallet img {
    width: 35px;
    height: 35px;
}

.canvas-part #canvas_line {
    width: 100%;
    max-width: 100%;
    height: 100px;
}

.canvas-part #myChart {
    width: 100%;
    max-width: 100%;
    height: 100px;
}

.graph-right-menu {
    border-left: 1px solid;
    border-color: rgba(00, 00, 00, 0.1);
    right: 0;
    margin-top: 0px;
    background: #fff;
    z-index: 1;
    position: fixed;
}

.graph-right-menu ul {
    display: inline;
}

.graph-right-menu li {
    list-style-type: none;
}

.graph-right-menu li:nth-child(1) a {
    padding: 10px 0px;
    display: block;
    font-size: 24px;
    color: #000;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid;
    border-color: rgba(00, 00, 00, 0.1);
    text-decoration: none;
}

.graph-right-menu li a {
    padding: 10px 0px;
    display: block;
    font-size: 20px;
    color: #000;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid;
    border-color: rgba(00, 00, 00, 0.1);
    margin: 0px;
    line-height: 24px;
    text-decoration: none;
}

.graph-right-menu li a:hover,
active,
focus,
visited {
    color: #fd8305;
}


/*****************End graph css**************/


/************* start app Wallet *********/

.app-wallet-icon div {
    margin: 10px 0px;
}

.app-wallet-icon div a {
    color: #fff;
    font-size: 20px;
    margin: 10px 0px;
    display: block;
}

.white-app-wallet-icon div a {
    color: #000;
    font-size: 20px;
    margin: 10px 0px;
    display: block;
}

.black-app-wallet-icon div a {
    color: #fff;
    font-size: 20px;
    margin: 10px 0px;
    display: block;
}

.app-qr-code {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.app-text {
    padding: 10px 0px 25px;
}

.app-text h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 0px;
}

.app-text p {
    font-size: 24px;
    font-weight: bold;
}

.app-wallet-footer-fixed {
    position: absolute;
    bottom: 5px;
    left: 0px;
}

.app-wallet-footer-fixed img {
    padding: 3px;
}

.app-black-m-t-b-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}


/************* start app Wallet *********/


/* Center the loader */

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 9999;
    width: 50px;
    height: 50px;
    margin: -30px 0 0 -30px;
    border: 10px solid #000;
    border-radius: 50%;
    border-top: 10px solid #e7e7e7;
    border-bottom: 10px solid #e7e7e7;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}


/****************** End Loader **************/

.m-t-15 {
    margin-top: 15px;
}
.m-t-18 {
    margin-top: 18px;
}


.modal.full-overlay {
    width: 100%;
    height: 100%;
    max-height: 100%;
    top: 0 !important;
    bottom: 0;
    background: #fff;
}

.modal.full-overlay .modal-content {
    box-shadow: none;
    border: none;
}
.fa-times-thin:before {
	content: '\00d7';
    font-style: normal;
    font-size: 30px;
    color: #666;
    margin-left: 370px;

}
.modal-header {
    padding: 0;
    position: relative;
    border: none;
    margin-bottom: 15px;
}
.modal-header h4 {
    font-size: 20px;
    margin-top:3px;
}
.modal-header .modal-close {
    position: absolute;
    left: 10px;
    top: 7px;
}
.modal-content {
    padding: 10px;   
}
.well-sm {
    padding: 5px 10px;
    border: none;
}
.btn.gray {
    background-color: #f5f5f5 !important;
    color: #333;
}
.orange {
    background-color: #fb621a !important;
}
.modal-content.orange {
    color: #fff;
}
.modal-content.orange h3 {
    color: #fff;
    font-size: 32px;
    margin: 25px 0 0 0;
    padding: 0;
}
.modal-content.orange h6 {
    color: #fff;
    font-size: 18px;
    margin: 0 0 25px 0;
    padding: 0;
    line-height: normal;
    font-weight: normal;     
}
.address-block {
    margin-bottom:  25px;
}
.timing {
    margin-bottom: 20px;
}
.content-social ul {
    margin: 30px 0 0 0;
    padding: 0;
    width: 100%;
    display: table;
    table-layout: fixed;
}
.content-social ul li { 
    display: table-cell;
    list-style: none;
    text-align: center;
}
.content-social ul li a {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    color: #fb621a;
}
.modal-content.orange .fa-times-thin:before {
    color: #fff;
}
.home-depot-logo {
    margin-top: 25px;   
}

.prev img {
    position: absolute;
    top: 48%;
    left: 1%;    
}

.next img {
    position: absolute;
    top: 48%;
    right: 1%;   
}


/*******************Media Query **********************/

@media (max-height:520px) {
    .img-max-width img {
        width: 85%;
    }
    .img-max-width img.brand {
        width: auto;
    }
    .qr-img img {
        width: 90%;
        margin:0 auto;
        float:none;
        position:absolute;
        left:0;
        right:0;
    }
    .app-black-m-t-b-15 {
        margin-top: 0px;
        margin-bottom: 0px;
    }    
}

@media only screen and (max-device-width:480px){
        .white-sign-up {
          width: 98.5%;
        }

        .custome-container {
          width: 100%;
    }

}


/*portrait*/

@media only screen and (min-width:767px) and (max-width:1024px) and (orientation: portrait) {
    .graph-right-menu {
        position: static;
    }
    .graph-content {
        margin-top: -1px;
    }
    .qr-code-page {
        margin-top: -1px;
    }
    .wallet-img img {
        width: auto;
        max-width: 100%;
    }
    
}


/* Landscape */

@media only screen and (min-width: 414px) and (max-width:1024px) and (orientation: landscape) {
    .app-wallet-footer-fixed {
        position: static;
        padding: 20px 0px;
    }
    .profile-second-img img {
        max-width: 100%;
        width: 30px;
    }
    .graph-right-menu {
        position: static;
    }
    .graph-content {
        margin-top: -1px;
    }
    .signup-page {
        display: block !important;
        margin-top: 10px;
    }
    
}

@media only screen and (min-width:767px) and (max-width:1024px) {
    .img-max-width img {
        max-width: 90%;
    }
    .white-social-icon {
        display: block;
        text-align: center;
    }
    .white-social-icon p {
        width: 100%;
    }
    .white-perpetual-heading h1 {
        font-size: 95px;
    }
    .graph img {
        width: auto;
        max-width: 100%;
    }
    .canvas-part #myChart {
        height: 180px;
    }
    .invite-code-head {
        height: 500px;
    }
    .custome-container {
        width: 100%;
    }
    .brand-div {
        height: 830px;
        overflow: auto;
    }
    .white-app-wallet-icon div a {
        font-size: 30px;
    }
    .black-app-wallet-icon div a {
        font-size: 30px;
    }
    .app-wallet-icon div a {
        font-size: 30px;
    }
}

.white-social-icon p input {
    border: 0px;
    border-bottom: 1px solid #ccc;
    padding: 0px;
    display: block;
    text-align: left;
    color: #000;
    line-height: 40px;
    text-decoration: none;
    width: 100%;
}

.popup-custom {
    box-shadow: none;
    background: transparent;
}

img.imageicon{
    max-width:60%;
}


.modal-content.orange .fa-times-thin:before {
    color:#ccc;
}
svg[Attributes Style] {
    width: 100% !important;
    height: 100% !important;
}


.img-dark {
  fill: #3B454C ;
}

.img-light {
  fill: #FFF;
}

.phone-color{
    fill:blue;
}


.social-link:hover path {
    fill: red;
}


.svg-rel {
		position: relative;
	}

	.col-white {
		color: white;
	}

	.col-black {
		color: black;
	}

	.icon1-pos {
		position: absolute;
		top: 29.5%;
        left: 40%;
}



        /*map style*/

  #map {
          height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }


.dis-block{
    display:block;
}
.main-div{
    width:100%;
    position: absolute;
   /* position: relative;*/
    left: 0px;
    top: 0px;
    bottom: 0;
    overflow: hidden;

    animation-duration: 0.25s;
        transition-timing-function: ease-in;
        animation-fill-mode: both;
        animation-name: fadeIn;


}
.logout{
    position: absolute;
    right: 0;
    border-radius: 12px;
    top: 55px;
    right: 0px;
    padding: 0 2px;
    border: none;
    text-transform: capitalize;
    z-index:2;
}
.allPadd0 { padding:0;}
/*-----------------------------------svg images----------------------------------*/
.img-max-width img.brand {
    width: auto;
}
.call-icon {
  width: 80px;
  height: 80px;
  display: inline-block;
  -webkit-mask: url("SVG/call.svg") no-repeat;
  mask: url("SVG/call.svg") no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  margin-top: 10px;
}
.direct-icon {
  width: 28px;
  height: 28px;
  display: inline-block;
  -webkit-mask: url("SVG/DirectShareIcon.svg") no-repeat;
  mask: url("SVG/DirectShareIcon.svg") no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;

}
.facebook-icon {
  width: 80px;
  height: 80px;
  display: inline-block;
  -webkit-mask: url("SVG/FacebookIcon1.svg") no-repeat;
  mask: url("SVG/FacebookIcon1.svg") no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  margin-top: 10px;
}
.location-icon {
  width: 80px;
  height: 80px;
  display: inline-block;
  -webkit-mask: url("SVG/LocationIcon.svg") no-repeat;
  mask: url("SVG/LocationIcon.svg") no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  margin-top: 10px;
}
.more-icon {
  width: 80px;
  height: 80px;
  display: inline-block;
  -webkit-mask: url("SVG/invite_friend.svg") no-repeat;
  mask: url("SVG/invite_friend.svg") no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  margin-top: 10px;
}
.referral-icon {
  width: 33px;
  height: 28px;
  display: inline-block;
  -webkit-mask: url("SVG/ReferralIcon1.svg") no-repeat;
  mask: url("SVG/ReferralIcon1.svg") no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
}
.share-icon {
  width: 28px;
  height: 28px;
  display: inline-block;
  -webkit-mask: url("SVG/shareIcon.svg") no-repeat;
  mask: url("SVG/shareIcon.svg") no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.twitter-icon {
  width: 80px;
  height: 80px;
  display: inline-block;
  -webkit-mask: url("SVG/twitter.svg") no-repeat;
  mask: url("SVG/twitter.svg") no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  margin-top: 10px;
}

.information-icon {
  width: 80px;
  height: 80px;
  display: inline-block;
  -webkit-mask: url("SVG/InformationIcon.svg") no-repeat;
  mask: url("SVG/InformationIcon.svg") no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  margin-top: 10px;
}

.setting-icon {
  width: 28px;
  height: 28px;
  display: inline-block;
  -webkit-mask: url("SVG/SettingsIcon.svg") no-repeat;
  mask: url("SVG/SettingsIcon.svg") no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;

}

.share-icon {
  width: 28px;
  height: 28px;
  display: inline-block;
  -webkit-mask: url("SVG/shareIcon.svg") no-repeat;
  mask: url("SVG/shareIcon.svg") no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;

}

.prev-icon {
  width: 15px;
  height: 26px;
  -webkit-mask: url("SVG/prev.svg") no-repeat;
  mask: url("SVG/prev.svg") no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  position: absolute;
  top: 48%;
  left: 1%;

}

.next-icon {
  width: 15px;
  height: 26px;
  -webkit-mask: url("SVG/next.svg") no-repeat;
  mask: url("SVG/next.svg") no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  position: absolute;
  top: 48%;
  right: 1%;

}

.qrcode-icon {
  width: 100px;
  height: 100px;
  display: inline-block;
  -webkit-mask: url("SVG/qr-code.svg") no-repeat;
  mask: url("SVG/qr-code.svg") no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  margin-left: -9px;
  margin-top: 20px;

}

.icon-light {background-color: #fff;}
.icon-dark {background-color: #3B454C;}

.refraltext-light {color: #fff;}
.refraltext-dark {color: #3B454C;}


/* share popup */
.transparent-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 10;
    display:none;
}
.share-popup{
    background:#fff;
    width:100%;
    position:absolute;
    z-index:10;
    bottom:0;
    transition: 0.5s;
    padding:25px;
}
.share-popup h2{
    font-size: 18px;
    margin: 0 0 30px 0;
}
.share-popup li{
    width:46.3%;
    text-align:center;
    list-style:none;
    float:left;
}
.share-popup li span{display:block;}
.share-popup li .fb{color:#475993;}
.share-popup li .twitter{color:#55acee;}
.share-popup li .linkedin{color:#007ab9;}

/* share popup */

.bg-qr-container {
    background: #ffffff;
}
.no-bg{
    background:none !important;
}
.no-padding{
    padding:0px;
}
.p-t-10{
    padding-top:10px;
}
.p-t-b-l-r{
    padding:10px 15px;
}

.full-width{
    width:100%;
    display:inline-block;
}
.fb-friend-name{
    display:inline-block;
    width:84%;
}
.custom-modal{
    background:none;
    box-shadow:none;
    top:0px;
    bottom:0px;
    max-height:inherit;
}
.custom-modal .modal-dialog{
    margin:50px 10px 10px 10px;
}
.pass_icon{
    position: absolute;
    top: 0;
    right: 0;
    width:8px;
    height:11px;

}

.hideShowPassword-toggle {
    background-image: url(img/wink.svg);
    background-position: 0 center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    text-indent: -9999em;
    width: 44px;
    z-index: 3
}
.password-toggle-icon {
    position: absolute;
        right: 8px;
        bottom: 0;
        font-size: 18px;
        color:#fff;
}
/*
.input-field.password-field input[type=password]{
    padding-right: 30px;
}
*/
/*====Start swap slider====*/
.swiper-container {
        width: 500px;
        height: 300px;
        margin: 20px auto;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }


    /* external css: flickity.css for slider use only */

    * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    body { font-family: sans-serif;}

    .gallery {
      background: #EEE;
    }

    .gallery-cell {
      width: 100%;
      height: 200px;
      margin-right: 10px;
      background: #8C8;
      counter-increment: gallery-cell;
    }

    /* cell number */
    .gallery-cell:before {
      display: block;
      text-align: center;
      content: counter(gallery-cell);
      line-height: 200px;
      font-size: 80px;
      color: white;
    }


    /* big buttons, no circle */
    .flickity-prev-next-button {
      width: 100px;
      height: 100px;
      background: transparent;
    }
    /* arrow color */
    .flickity-prev-next-button .arrow {
      fill: white;
    }
    .flickity-prev-next-button.no-svg {
      color: white;
    }
    .flickity-prev-next-button:hover {
      background: transparent;
    }
    /* hide disabled button */
    .flickity-prev-next-button:disabled {
      display: none;
    }

    /* position dots in gallery */
    .flickity-page-dots {
      bottom: 0px;
    }
    /* white circles */
    .flickity-page-dots .dot {
      width: 12px;
      height: 12px;
      opacity: 1;
      background: transparent;
      border: 2px solid white;
    }
    /* fill-in selected dot */
    .flickity-page-dots .dot.is-selected {
      background: white;
    }

    .height{
      line-height: 60%;
    }

/*...............sliser use only..........*/

.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.carousel.carousel-slider {
    height: 100% !important;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}

/*............business model popup...........*/

/*
.alert {
    padding: 10px;
    margin: 10px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}*/

.alertPopup{
    /*padding: 23px;*/
    margin-bottom: -44px;
    border: 1px solid transparent;
    margin: -27px;
    margin-left: 1px;
    margin-right: -2px;
}


/********************* LOGIN SCREEN *****************/
.m-t-10{
    margin-top:10px;
}
.m-t-20{
    margin-top:20px;
}
.m-t-30{
    margin-top:30px;
}
.m-t-40{
    margin-top:40px;
}
.m-t-50{
    margin-top:50px;
}
.m-t-80{
    margin-top:80px;
}

.m-b-10{
    margin-bottom:10px;
}
.m-b-20{
    margin-bottom:20px;
}
.m-b-30{
    margin-bottom:30px;
}
.m-b-40{
    margin-bottom:40px;
}
.m-b-50{
    margin-bottom:50px;
}

.m-t-b-50{
    margin-top:50px;
    margin-bottom:50px;
}
.full-width{
    width: 100%;
}
.full-height{
    position: relative;
    height:100%;

}

#login-page .alert-success{
    position: absolute;
    right: 15px;
    left: 15px;
    top:10px;
    margin: 0px;
}

.full-blue-bg{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#04478c+0,072a54+100 */
	background: #04478c; /* Old browsers */
	background: -moz-linear-gradient(top, #04478c 0%, #072a54 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #04478c 0%,#072a54 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #04478c 0%,#072a54 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04478c', endColorstr='#072a54',GradientType=0 ); /* IE6-9 */
	position: relative;
	width: 100%;
	height: 100vh;

}
.white-text{
    color: #fff;
}
.page-heading{
    /*font-family: Opensans-light;*/
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-weight:normal;
}

.custom-input input[type="tel"],
{
    color: #9e9e9e;
    border-bottom:solid 2px #9e9e9e;
    box-shadow: 0 0px 0 0 #b59929;
    padding-left: 5px;
}


.input-field.custom-input input[type="text"],
.input-field.custom-input input[type="tel"],
.input-field.custom-input input[type="password"],
.custom-input input[type="text"],
.custom-input input[type="tel"],
.custom-input input[type="file"],
.custom-input input[type="password"]{
    color: #fff;
    border-bottom:solid 2px #fff;
    box-shadow: 0 0px 0 0 #b59929;
    padding-left: 5px;
}
.custom-input input[type="text"]:focus:not([readonly]),
.custom-input input[type="tel"]:focus:not([readonly]),
.custom-input input[type="password"]:focus:not([readonly]){
    border-bottom:solid 2px #b59929;
    box-shadow: 0 0px 0 0 #b59929;
    padding-left: 5px;
}
.input-field.custom-input label,
.input-field.custom-input label,
.input-field.custom-input label,
.custom-input label,
.custom-input label,
.custom-input label{
    color: #9e9e9e;
    padding-left: 5px;
    font-weight:normal;
}
.custom-input input[type="text"]:focus:not([readonly])+label.active,
.custom-input input[type="tel"]:focus:not([readonly])+label.active,
.custom-input input[type="password"]:focus:not([readonly])+label.active{
    color: #b59929;
    padding-left: 5px;
}

.yellow-btn{
    border-radius: 10px;
    background-color: #b69929;
    line-height: 30px;
    padding:5px 20px;
    color: #fff;
    font-size: 24px;
    text-align: center;
}
.powered-by{
    position: absolute;
    width: 140px;
    height: auto;
    bottom:10px;
    right:15px;
}

.headingbg {background:#063a72; text-align:center; color:#fff;}
input:not([type]).validate+label, input[type=text].validate+label, input[type=password].validate+label, input[type=email].validate+label, input[type=url].validate+label, input[type=time].validate+label, input[type=date].validate+label, input[type=datetime].validate+label, input[type=datetime-local].validate+label, input[type=tel].validate+label, input[type=number].validate+label, input[type=search].validate+label, textarea.materialize-textarea.validate+label {
    width: 95%;

}
.input-field label {
    color: #fff;
    font-size: 1.25rem;
    font-weight:600;
}

h5 {
    font-size: 1.94rem;
    }

    strong {
        font-weight: 300;
    }

    .well {    margin-top: 43px;}

    
    .white-sign-up {
         width: 98.5%;
            margin-top: 32px;
    }

    .white-sign-up p a.homepage {border-radius:25px; background-color:#000;border: 1px solid #000;}

.changepwd-bg {
    background: #04478c;
    background: -moz-linear-gradient(top, #04478c 0%, #04478 100%);
    background: -webkit-linear-gradient(top, #04478c 0%,#04478 100%);
    background: linear-gradient(to bottom, #04478c 0%,#04478 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04478c', endColorstr='#072a54',GradientType=0 );
    position: relative;
    width: 100%;
    height: 92.5vh;
}

input:not([type]):disabled+label, input:not([type])[readonly="readonly"]+label, input[type=text]:disabled+label, input[type=text][readonly="readonly"]+label, input[type=password]:disabled+label, input[type=password][readonly="readonly"]+label, input[type=email]:disabled+label, input[type=email][readonly="readonly"]+label, input[type=url]:disabled+label, input[type=url][readonly="readonly"]+label, input[type=time]:disabled+label, input[type=time][readonly="readonly"]+label, input[type=date]:disabled+label, input[type=date][readonly="readonly"]+label, input[type=datetime]:disabled+label, input[type=datetime][readonly="readonly"]+label, input[type=datetime-local]:disabled+label, input[type=datetime-local][readonly="readonly"]+label, input[type=tel]:disabled+label, input[type=tel][readonly="readonly"]+label, input[type=number]:disabled+label, input[type=number][readonly="readonly"]+label, input[type=search]:disabled+label, input[type=search][readonly="readonly"]+label, textarea.materialize-textarea:disabled+label, textarea.materialize-textarea[readonly="readonly"]+label {
    color: #9e9e9e;
}

input:not([type]):disabled, input:not([type])[readonly="readonly"], input[type=text]:disabled, input[type=text][readonly="readonly"], input[type=password]:disabled, input[type=password][readonly="readonly"], input[type=email]:disabled, input[type=email][readonly="readonly"], input[type=url]:disabled, input[type=url][readonly="readonly"], input[type=time]:disabled, input[type=time][readonly="readonly"], input[type=date]:disabled, input[type=date][readonly="readonly"], input[type=datetime]:disabled, input[type=datetime][readonly="readonly"], input[type=datetime-local]:disabled, input[type=datetime-local][readonly="readonly"], input[type=tel]:disabled, input[type=tel][readonly="readonly"], input[type=number]:disabled, input[type=number][readonly="readonly"], input[type=search]:disabled, input[type=search][readonly="readonly"], textarea.materialize-textarea:disabled, textarea.materialize-textarea[readonly="readonly"] {
    color: #9e9e9e;
   border-bottom: 1px solid #9e9e9e;
}

.account-bg {
    background: #04478c;
    background: -moz-linear-gradient(top, #04478c 0%, #04478 100%);
    background: -webkit-linear-gradient(top, #04478c 0%,#04478 100%);
    background: linear-gradient(to bottom, #04478c 0%,#04478 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04478c', endColorstr='#072a54',GradientType=0 );
    position: relative;
    width: 100%;
   }
   .btn.brownbtn {
       background-color: #b69929;
   }

.input-field label.phoneno{
color:#9e9e9e;
}

input[type=tel].phoneno{
color:#9e9e9e;
}
input[type=text].phoneno, input[type=password].phoneno{
color:#9e9e9e;
}

.eyeiconsign {
    position: absolute;
    right: 14px;
    bottom: 0;
    font-size: 18px;
    color: #000;
}

input:not([type]).invalid, input:not([type]):focus.invalid, input[type=text].invalid, input[type=text]:focus.invalid, input[type=password].invalid, input[type=password]:focus.invalid, input[type=email].invalid, input[type=email]:focus.invalid, input[type=url].invalid, input[type=url]:focus.invalid, input[type=time].invalid, input[type=time]:focus.invalid, input[type=date].invalid, input[type=date]:focus.invalid, input[type=datetime].invalid, input[type=datetime]:focus.invalid, input[type=datetime-local].invalid, input[type=datetime-local]:focus.invalid, input[type=tel].invalid, input[type=tel]:focus.invalid, input[type=number].invalid, input[type=number]:focus.invalid, input[type=search].invalid, input[type=search]:focus.invalid, textarea.materialize-textarea.invalid, textarea.materialize-textarea:focus.invalid {
    border-bottom: 1px solid #9e9e9e;
    box-shadow: 0 1px 0 0 #9e9e9e;
}
