<!--start index-page-->

<div u="slides" class="main-div" id="main" ng-swipe-down="GetRefresh();">
    <div style="margin-left:45%;margin-top:3%;height:40px;width:109%;background-color:#fff" ng-show="refreshLoader"><img ng-src="assets/images/ezgif.com-crop (2).gif" /></div>
    <div class="orange-bg color-black" style="background-color:#{{color}}" ng-swipe-right="ScreenRev()" ng-swipe-left="ScreensNext()" id="refreshID">
        <div class="container text-center custome-container">


            <!--start row-->
            <div class="row">
                <!--start col-xs-2-->
                <div class="col-xs-2 col-sm-2 img-max-width app-wallet-icon text-center">
                    <div>
                        <div ng-if="lightcolor == textcolor" class="setting-icon icon-light" ng-click="Accounts()"></div>
                        <div ng-if="darkcolor == textcolor" class="setting-icon icon-dark" ng-click="Accounts()"></div>
                    </div>
                </div>
                <!--end col-xs-2-->
                <!--start col-xs-8-->
                <div class="col-xs-8 col-sm-8 img-max-width">
                    <div class="img-max-width app-qr-code">
                        <div class="col-xs-6 col-sm-6">
                            <div ng-if="lightcolor == textcolor" class="qrcode-icon icon-light" ng-click="QRcode()"></div>
                            <div ng-if="darkcolor == textcolor" class="qrcode-icon icon-dark" ng-click="QRcode()"></div>
                        </div>
                    </div>
                    <div class="text-center app-text" ng-if="lightcolor == textcolor">
                        <p style="color:#FFF">You've Earned</p>
                        <h3 style="color:#FFF">${{reward}}</h3>
                    </div>

                    <div class="text-center app-text" ng-if="darkcolor == textcolor">
                        <p style="color:#3B454C">You've Earned</p>
                        <h3 style="color:#3B454C">${{reward}}</h3>
                    </div>
                    <div class="col-xs-12 col-sm-12 img-max-width">
                        <img ng-src="{{logo}}" class="brand" />
                    </div>
                </div>
                <!--end col-xs-8-->
                <div id="result"></div>
                <!--start col-xs-2-->
                <div class="col-xs-2 col-sm-2 img-max-width app-wallet-icon ">

                    <!--<div ng-if="lightcolor == textcolor" class="share-icon icon-light" ng-click="showmodel()"></div>-->
                    <!--<div ng-if="darkcolor == textcolor" class="share-icon icon-dark" ng-click="showmodel()"></div>-->

                    <!--<div ng-if="lightcolor == textcolor" class="share-icon icon-light" ng-click="socialSharing()"></div>-->
                    <!--<div ng-if="darkcolor == textcolor" class="share-icon icon-dark" ng-click="socialSharing()"></div>-->


                    <div>

                        <div ng-if="lightcolor == textcolor">
                            <div class="direct-icon icon-light"></div> <span ng-if="lightcolor == textcolor" class="dis-block refraltext-light">{{initialrefrel}}</span></div>
                        <div ng-if="darkcolor == textcolor">
                            <div class="direct-icon icon-dark"></div> <span ng-if="darkcolor == textcolor" class="dis-block refraltext-dark">{{initialrefrel}}</span></div>
                    </div>
                    <div>
                        <div ng-if="lightcolor == textcolor">
                            <div class="referral-icon icon-light"></div><span ng-if="lightcolor == textcolor" class="dis-block refraltext-light">{{direct}}</span></div>
                        <div ng-if="darkcolor == textcolor">
                            <div class="referral-icon icon-dark"></div><span ng-if="darkcolor == textcolor" class="dis-block refraltext-dark">{{direct}}</span></div>
                    </div>
                </div>
                <!--end col-xs-2-->
            </div>
            <!--end row-->
        </div>

        <div class="prev slide-left" ng-swipe-right="ScreenRev()">
            <a  ng-click="ScreenRev()" ng-if="lightcolor == textcolor" class="prev-icon icon-light" ng-show="hideprevIcon" />
            <a  ng-click="ScreenRev()" ng-if="darkcolor == textcolor" class="prev-icon icon-dark" ng-show="hideprevIcon" />
        </div>


        <div class="next slide-right" ng-swipe-left="ScreensNext()">
            <a ng-click="ScreensNext()" ng-if="lightcolor == textcolor" class="next-icon icon-light" ng-show="hidenextIcon" />
            <a ng-click="ScreensNext()" ng-if="darkcolor == textcolor" class="next-icon icon-dark" ng-show="hidenextIcon" />
        </div>

        <!-- start app-wallet-footer-fixed-->
        <div class="container app-wallet-footer-fixed custome-container" ng-swipe-right="ScreenRev()" ng-swipe-left="ScreensNext()">
            <!--start row-->
            <div class="row">

                <div class="col-xs-4 col-sm-4 img-max-width text-center" ng-if="mobile">
                    <div ng-if="lightcolor == textcolor" class="call-icon icon-light" ng-click="confirmDialogbox()"></div>
                    <div ng-if="darkcolor == textcolor" class="call-icon icon-dark" ng-click="confirmDialogbox()"></div>
                </div>

                <div class="col-xs-4 col-sm-4 img-max-width text-center" ng-if="street!=null">
                    <a ng-href="https://www.google.com/maps?q={{Address}}" ng-if="lightcolor == textcolor" class="location-icon icon-light" />
                    <a ng-href="https://www.google.com/maps?q={{Address}}" ng-if="darkcolor == textcolor" class="location-icon icon-dark" />
                </div>

                <div class="col-xs-4 col-sm-4 img-max-width text-center" ng-if="description!=null">
                    <div ng-if="lightcolor == textcolor" class="information-icon icon-light" ng-click="modelChng()"></div>
                    <div ng-if="darkcolor == textcolor" class="information-icon icon-dark" ng-click="modelChng()"></div>
                </div>

                <div class="col-xs-4 col-sm-4 img-max-width text-center" ng-if="facebook">
                    <a ng-href="{{facebook}}" ng-if="lightcolor == textcolor" class="facebook-icon icon-light" />
                    <a ng-href="{{facebook}" ng-if="darkcolor == textcolor" class="facebook-icon icon-dark" />
                </div>

                <div class="col-xs-4 col-sm-4 img-max-width text-center" ng-if="twitter">
                    <a ng-href="https://twitter.com/{{twitter}}" ng-if="lightcolor == textcolor" class="twitter-icon icon-light" />
                    <a ng-href="https://twitter.com/{{twitter}}" ng-if="darkcolor == textcolor" class="twitter-icon icon-dark" />
                </div>

                <div class="col-xs-4 col-sm-4 img-max-width text-center">
                    <!--<div ng-if="lightcolor == textcolor" class="more-icon icon-light" ng-click="FriendInvite()"></div>-->
                    <!--<div ng-if="darkcolor == textcolor" class="more-icon icon-dark" ng-click="FriendInvite()"></div>-->

                    <div ng-if="lightcolor == textcolor" class="more-icon icon-light" ng-click="socialSharing()"></div>
                    <div ng-if="darkcolor == textcolor" class="more-icon icon-dark" ng-click="socialSharing()"></div>
                </div>
            </div>
            <!--end row-->
        </div>
        <!-- end app-wallet-footer-fixed-->

    </div>

</div>


<!--============i icon Orange Modal Start===============-->
<!-- Modal Structure -->
<div id="modalAccountOrange" class="modal full-overlay orange" style="background-color:#{{color}} !important">
    <div class="modal-content orange" style="background-color:#{{color}} !important">

        <div class="container back-text ng-scope">
            <a ng-click="modelChngHide()"><img src="assets/images/back-arrow.png" alt="back arrow" title="back arrow"> Back</a>
        </div>

        <div class="row home-depot-logo" ng-if="logo">
            <div class="col s10 m8 center-align offset-s1 offset-m2">
                <img ng-src="{{logo}}" class="responsive-img imageicon">
            </div>
        </div>

        <div class="row center-align">
            <span ng-if="lightcolor == textcolor" class="refraltext-light" style="font-size: 32px;">{{displayName}}</span><br/>
            <span ng-if="darkcolor == textcolor" class="refraltext-dark" style="font-size: 32px;">{{displayName}}</span><br/>

            <span ng-if="lightcolor == textcolor" class="refraltext-light">{{description}}</span>
            <span ng-if="darkcolor == textcolor" class="refraltext-dark">{{description}}</span>

            <div class="address-block">
                <p ng-if="lightcolor == textcolor && mobile != null" class="refraltext-light">
                    {{mobile}}<br/></p>
                <p>
                    <p ng-if="darkcolor == textcolor && mobile != null" class="refraltext-dark">
                        {{mobile}}<br/></p>
                    <p ng-if="lightcolor == textcolor" class="refraltext-light">
                        {{street}},{{city}},{{state}},{{code}}
                        <p/>
                        <p ng-if="darkcolor == textcolor" class="refraltext-dark">
                            {{street}},{{city}},{{state}},{{code}}
                            <p/>

            </div>


            <div ng-if="lightcolor == textcolor">
                <span ng-if="websiteURL == weblink">
                <a ng-href={{website}}>
                    <p style="color:#FFF">{{website}}</p>
                </a>
                </span>

                <span ng-if="websiteURL != weblink">
                <a ng-href=https://{{website}}>
                    <p style="color:#FFF">https://{{website}}</p>
                </a>
                </span>
            </div>



            <div ng-if="darkcolor == textcolor">
                <span ng-if="websiteURL == weblink">
                <a ng-href={{website}}>
                    <p style="color:#3B454C">{{website}}</p>
                </a>
                </span>

                <span ng-if="websiteURL != weblink">
                <a ng-href=https://{{website}}>
                    <p style="color:#3B454C">https://{{website}}</p>
                </a>
                </span>

            </div>

            <div class="content-social">
                <ul>
                    <li ng-if="facebook">
                        <a ng-href="https://www.facebook.com/AGMSNation/" ng-if="lightcolor == textcolor" class="facebook-icon icon-light" />
                        <a ng-href="https://www.facebook.com/AGMSNation/" ng-if="darkcolor == textcolor" class="facebook-icon icon-dark" />
                    </li>
                    <li ng-if="twitter">
                        <a ng-href="https://twitter.com/{{twitter}}" ng-if="lightcolor == textcolor" class="twitter-icon icon-light" />
                        <a ng-href="https://twitter.com/{{twitter}}" ng-if="darkcolor == textcolor" class="twitter-icon icon-dark" />
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>



<!--============/i icon Orange Modal End===============-->


<!--<div class="transparent-bg" id="modal1" data-toggle="modal" ng-click="hidePopup()">-->
    <!--<div class="share-popup">-->
        <!--<h2>Complete action using</h2>-->
        <!--<ul>-->
            <!--<li><a ng-click="socialSharing()"><i class="fa fa-facebook-square fa-4x fb" aria-hidden="true"></i> <span>Facebook</span></a></li>-->
            <!--<li><a ng-click="shareViaTwitter()"><i class="fa fa-twitter-square fa-4x twitter" aria-hidden="true"></i> <span>Twitter</span></a></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->


<!--============/i icon Orange Modal End===============-->
