<div class="container back-text"  ng-click="modelChngHide();">
    <a ng-click="modelChngHide();"><img src="assets/images/back-arrow.png" alt="back arrow" title="back arrow" /> Back</a>
</div>

<div class="orange-bg color-black" style="background-color:#{{color}} !important">

    <div class="col-xs-12 col-sm-8 brand-img price-text text-center" style="margin-top:27px;">
        <div class="row home-depot-logo" ng-if="logo">
            <div class="col s10 m8 center-align offset-s1 offset-m2">
                <img ng-src="{{logo}}" class="responsive-img imageicon">
            </div>
        </div>
    </div>

    <div class="row center-align">
        <span ng-if="lightcolor == textcolor" class="refraltext-light" style="font-size: 32px;">{{displayName}}</span><br/>
        <span ng-if="darkcolor == textcolor" class="refraltext-dark" style="font-size: 32px;">{{displayName}}</span><br/>

        <p ng-if="lightcolor == textcolor" class="refraltext-light" style="margin-left: auto;margin-right: auto;padding-left: 20px;padding-right: 20px;">{{description}}</p>
        <p ng-if="darkcolor == textcolor" class="refraltext-dark" style="margin-left: auto;margin-right: auto;padding-left: 20px;padding-right: 20px;">{{description}}</p>

        <div class="address-block">
            <p ng-if="lightcolor == textcolor && mobile != null" class="refraltext-light">
                {{mobile}}<br/></p>
            <p>
            <p ng-if="darkcolor == textcolor && mobile != null" class="refraltext-dark">
                {{mobile}}<br/></p>
            <p ng-if="lightcolor == textcolor" class="refraltext-light">
                {{street}},{{city}},{{state}},{{code}}
            <p/>
            <p ng-if="darkcolor == textcolor" class="refraltext-dark">
                {{street}},{{city}},{{state}},{{code}}
            <p/>

        </div>


        <div ng-if="lightcolor == textcolor">
                <span ng-if="websiteURL == weblink">
                <a ng-href={{website}}>
                    <p style="color:#FFF">{{website}}</p>
                </a>
                </span>

            <span ng-if="websiteURL != weblink">
                <a ng-href=https://{{website}}>
                    <p style="color:#FFF">https://{{website}}</p>
                </a>
                </span>
        </div>



        <div ng-if="darkcolor == textcolor">
                <span ng-if="websiteURL == weblink">
                <a ng-href={{website}}>
                    <p style="color:#3B454C">{{website}}</p>
                </a>
                </span>

            <span ng-if="websiteURL != weblink">
                <a ng-href=https://{{website}}>
                    <p style="color:#3B454C">https://{{website}}</p>
                </a>
                </span>

        </div>

        <div class="content-social">
            <ul>
                <li ng-if="facebook">
                    <a ng-href="https://www.facebook.com/AGMSNation/" ng-if="lightcolor == textcolor" class="facebook-icon icon-light" />
                    <a ng-href="https://www.facebook.com/AGMSNation/" ng-if="darkcolor == textcolor" class="facebook-icon icon-dark" />
                </li>
                <li ng-if="twitter">
                    <a ng-href="https://twitter.com/{{twitter}}" ng-if="lightcolor == textcolor" class="twitter-icon icon-light" />
                    <a ng-href="https://twitter.com/{{twitter}}" ng-if="darkcolor == textcolor" class="twitter-icon icon-dark" />
                </li>
            </ul>
        </div>

    </div>



</div>
