<div class="modal-header">
    <div class="container back-text ng-scope" ng-click="backbtn();">
    <a ng-click="backbtn();"><img src="assets/images/back-arrow.png" alt="back arrow" title="back arrow"> Back</a>
</div>

    <!--<a class="modal-action modal-close waves-effect" ng-click="backbtn();"><i class="fa fa-times-thin"></i></a>-->



    <a ng-click="logOut()" class="btn brownbtn btn-primary logout">Logout</a>

</div>
<div class="account-bg">
<div class="well well-sm headingbg">
    <h5 class="text-uppercase"><strong>Personal Info</strong></h5>

</div>
    <div class="container">
<div class="row">
    <div class="input-field custom-input col s12">
        <input id="name" placeholder="Name" type="text" ng-model="name" class="validate">
        <label for="name" class="active">Name</label>
    </div>
</div>
<div class="row">
    <div class="input-field custom-input col s12">
        <input id="demolabel" placeholder="Email" type="text" class="validate" ng-model="email">
        <label for="demolabel" class="active">Email</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <input id="phone" type="text" placeholder="Phone" ng-model="phone" class="validate tel" readonly="readonly">
        <label for="phone" class="active">Phone</label>
    </div>
</div>
        </div>
<div class="well well-sm headingbg">
    <h5 class="text-uppercase"><strong>Profile Picture</strong></h5>
</div>

<div class="row">
    <div class="file-field input-field custom-input" ng-if="checkdevice==Android">
        <div class="btn brownbtn custom-pdng1">
            <span>Choose File</span>
            <input type="file" id="inputFileToLoad" accept="image/*" multiple/>
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" id="updatePicname" ng-model="profile_picture" type="text" placeholder="No file Choosen" ng-change="UpdateProfile()" readonly="readonly">
        </div>
    </div>
    
    <div class="file-field input-field custom-input" ng-if="checkdevice==iOS">
        <div class="btn brownbtn custom-pdng1">
            <span ng-click="UpdateProfile()">Choose File</span>
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" id="inputfile" ng-model="profile_picture" type="text" placeholder="No file Choosen" readonly="readonly" />
        </div>
    </div>
</div>

<div class="well well-sm headingbg">
    <h5 class="text-uppercase"><strong>UserName</strong></h5>

</div>
    <div class="container">
<div class="row">
    <div class="col s12">
        <input id="userName" ng-model="userName" type="text" class="validate" readonly="readonly">
    </div>
</div>
        </div>
        <div class="well-sm headingbg">
            <h5 class="text-uppercase" ng-click="modelChng();"><strong>Change Password </strong>
                <i class="fa fa-angle-right pull-right"></i></h5>

        </div>
<!--<div class="row">-->
    <!--<a class="waves-effect waves-light btn btn-large btn-block gray headingbg" ng-click="modelChng();">-->
        <!--<span class="pull-left">Change Password </span>-->
        <!--<i class="fa fa-angle-right pull-right"></i>-->
    <!--</a>-->
<!--</div>-->

    <div class="container">
<div class="text-uppercase m-t-15">
    <p><a ng-click="updateUserInfo();" class="yellow-btn full-width">Update</a></p>
</div>
    </div>
</div>
