<!--start white-index-page-->
<!--<div class="white-index-page">-->
<!--<div class="container back-text">-->
    <!--<a ng-click="modelChngHide();"><img src="assets/images/back-arrow.png" alt="back arrow" title="back arrow" /> Back</a>-->
<!--</div>-->
<div class="modal-header" ng-click="modelChngHide();">
    <div class="container back-text">
        <a ng-click="modelChngHide();"><img src="assets/images/back-arrow.png" alt="back arrow" title="back arrow"> Back</a>
    </div>


</div>
<!--<div class="orange-bg color-black" style="background-color:#{{color}} !important">-->
    <!--start index-content-->
<div class="changepwd-bg">
    <div class="index-content">
        <!--start container white-perpetual-heading-->
        <!--<div class="container white-perpetual-heading">-->
            <!--<h5 class="text-center text-uppercase">Change Password</h5>-->
        <!--</div>-->
        <!--end container white-perpetual-heading-->
        <div class="well well-sm headingbg">
            <h5 class="text-uppercase"><strong>Change Password</strong></h5>
        </div>

        <div class="container">
        <div class="row">
            <div class="input-field custom-input password-field col s12">
                <div class="password-toggle-icon" ng-click="hideShowPassword()">
                    <i class="fa fa-eye" aria-hidden="true"  ng-show="showeyeIcon" id=eyeIcon></i>
                    <i class="fa fa-eye-slash" aria-hidden="true"  ng-show="hideeyeIcon" id=eyeIcon></i>
                </div>
                <input type="{{inputType}}" id="password"  ng-model="user.password" class="validate" ng-click="click_pass()">
                <label for="password" id="passwordlbl">New Password</label>


                <span ng-show="showpass" style="color:red" ng-bind="passwordMess"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field custom-input col s12">
                <input id="confirmpassword" type="password" ng-model="user.confirmpassword" class="validate" ng-click="click_confirmpass()">
                <label for="confirmpassword">Confirm Password</label>
                <span ng-show="showconfirmpass" style="color:red" ng-bind="confirmpwdMess"></span>
            </div>
        </div>
        <div class="row">
            <div class="container m-t-18">
                <p><a ng-click="changePwd(user);" class="yellow-btn full-width">Save</a></p>
            </div>
        </div>
</div>
        <!--End white-sign-up-->
    </div>
</div>
    <!--End white-index-page-->
<!--</div>-->
<!--End white-index-page-->

















<!--<div class="modal-header">-->
    <!--&lt;!&ndash;<div class="container back-text ng-scope">&ndash;&gt;-->
        <!--&lt;!&ndash;<a ng-click="modelChngHide();"><img src="assets/images/back-arrow.png" alt="back arrow" title="back arrow"> Back</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->




<!--<div id="modalChangePassword" class="modal full-overlay">-->
    <!--<div class="modal-content">-->

        <!--<div class="modal-header">-->
            <!--&lt;!&ndash;<a ng-click="modelChngHide();" class="modal-action modal-close waves-effect"><i class="fa fa-times-thin"></i></a>&ndash;&gt;-->
            <!--<h4 class="text-center text-uppercase">Change Password</h4>-->
        <!--</div>-->
        <!--<div class="well well-sm">-->
            <!--<h5 class="text-uppercase"><strong>New Password</strong></h5>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="input-field password-field col s12">-->
                <!--<div class="password-toggle-icon" ng-click="hideShowPassword()">-->
                    <!--<i class="fa fa-eye" aria-hidden="true"  ng-show="showeyeIcon" id=eyeIcon></i>-->
                    <!--<i class="fa fa-eye-slash" aria-hidden="true"  ng-show="hideeyeIcon" id=eyeIcon></i>-->
                <!--</div>-->
                <!--<input type="{{inputType}}" id="password"  ng-model="user.password" class="validate" ng-click="click_pass()">-->
                <!--<label for="password">Password</label>-->


                <!--<span ng-show="showpass" style="color:red" ng-bind="passwordMess"></span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="input-field col s12">-->
                <!--<input id="confirmpassword" type="password" ng-model="user.confirmpassword" class="validate" ng-click="click_confirmpass()">-->
                <!--<label for="confirmpassword">Confirm Password</label>-->
                <!--<span ng-show="showconfirmpass" style="color:red" ng-bind="confirmpwdMess"></span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="container white-sign-up">-->
                <!--<p><a ng-click="changePwd(user);">Save</a></p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->