﻿
        <!--start white-index-page-->
        <div class="white-index-page">
              <!--start index-content-->
            <div class="index-content">
            <!--start container white-perpetual-heading-->
            <div class="container white-perpetual-heading">
                <h1>Perpetual<br> Pay</h1>
            </div>
				 <!--end container white-perpetual-heading-->
				 <!--start white-social-icon-->
            <div class="container white-social-icon">
                <!--<p><a ng-click="GetFacebookAccount()"><span>f</span>Login via facebook</a></p>-->
                <!--<p><a ng-click="GetTwitterAccount()"><span>t</span>Login via twitter</a></p>-->
            </div>
				 <!--end white-social-icon-->
				 <!--start white-sign-up-->
            <div class="container white-sign-up">
                <p><a ng-click="Login();" class="homepage">Login</a></p>
                <!--<p><a ng-click="getSignupAuthKey();">Sign Up</a></p>-->
                <!--<p><a data-ng-click="getAll()" href="javascript:;" class="btn btn-primary">Add New User</a></p>-->
            </div>
            <!--End white-sign-up-->
                </div>
              <!--End white-index-page-->
        </div>
        <!--End white-index-page-->
        <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '1967943570102346',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.9'
    });
    FB.AppEvents.logPageView();
    alert("davender");
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
 <script>
      var currentPage = "MainPage";
 </script>