<!--start white-index-page-->
<div id="login-page" class="full-blue-bg">
<div class="signup-page">
    <div class="index-content">
        <div class="row">
            <div class="col-sm-12"><h1 class="page-heading m-t-80 m-b-50">Perpetual Pay</h1></div>
        </div>
        <div class="container ">
            <div class="row">
                <div class="input-field custom-input col s12 m-b-20">
                    <input id="username" ng-model="user.username" type="tel" class="validate" ng-click="UID_Click()" minlength="10" maxlength="10">
                    <label id="removeUser">Mobile Number</label>
                    <span ng-show="showIDValidMess" style="color:red" ng-bind="IDValidMess"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field custom-input col s12">
                    <input id="password" ng-model="user.password" type="password" class="validate" ng-click="PWD_Click()">
                    <label id="removePass" for="password">Password</label>
                    <span ng-show="showPWDValidMess" style="color:red" ng-bind="PWDValidMess"></span>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m-t-80" style="margin-top: 45px;">
                    <a ng-click="authuser(user);" class="yellow-btn full-width">Login</a>
                 </div>
            </div>
        </div>
    </div>
</div>

<!--End white-index-page-->

<div ng-show="customPopup">
    <!--<a class="modal-action modal-close waves-effect" ng-click="backbtn(user);"><i class="fa fa-times-thin"></i></a>-->
    <div class="col-sm-12">
    <div class="alert alert-success alertPopup">
        <p>You are not a customer. Please use our <a ng-href="https://play.google.com/store/apps/details?id=com.app_pepro.layout&hl=en" class="alert-link" style="color:blue"><u>Business App</u></a> to login as a business.</p>
    </div>
    </div>
</div>

<div class="powered-by bg_img">
    <img class="img-responsive" ng-src="assets/images/powerdby-logo.png" />
</div>
</div>

