<div class="container back-text">
    <a ng-click="fbbackbtn()"><img ng-src="assets/images/back-arrow.png" alt="back arrow" title="back arrow" /> Back</a>
</div>
<!--start margin-top-30-->
<div class="margin-top-30">
    <div class="col-xs-12 col-sm-8 brand-img price-text text-center">
        <p>{{displayname}}</p>
    </div>
    <div class="container qr-code-setting p-t-r-b-l-0 ">
        <!--<div class="col-xs-2 col-sm-2 setting-icon wallet-img-max-width pull-right text-right "><a href="#"><img ng-src="assets/images/setting-black.png" alt="" title=""></a></div>-->
    </div>
    <!--End  qr-code-setting-->
    <div class="clearfix"></div>


    <!--start container-->
    <div class="container invite-friend-head p-t-r-b-l-0 bg-qr-container">
        <!--<div class="col-xs-4 col-sm-4 img-max-width border-img">-->
        <!--<img ng-src={{businesslogo}} alt="brand image" title="brand image" />-->
        <!--</div>-->
        <div class="col-xs-12 col-sm-8 brand-img price-text text-center">
            <h3>${{reward}}</h3>
        </div>
    </div>
    <!--End container-->
    <!--start heading container-->
    <div class="container search-heading text-center">
        <h3>Invite Friends</h3>
    </div>
    <!--End  heading container-->
    <!--start search container-->
    <div class="container form-group text-center search-overlay">
        <span class="fa fa-search"><input type="search" placeholder="Search" ng-model="search" class="form-control search-pannel pdng0" /></span>
    </div>
    <!--End  search container-->
    <!--start container-->



    <div class="container invite-code-head p-t-r-b-l-0 custome-container">
       
        <ul class="list-group border-right-left-none" ng-init="FBfriendName = (fblist | sortAscending)">


            <li class="list-group-item no-padding" ng-repeat="fblist in FBfriendName | filter : search | orderBy:'fblist'" ng-click="showfacebookdialer()">
            <a class="full-width p-t-b-l-r" data-toggle="modal" data-target="#contact-number">
                <span class="fb-friend-name" >{{fblist.name}}</span>
                <span class="pull-right">invite <i class="fa fa-angle-right"></i></span>
            </a>
            </li>
        </ul>
        <!--<input type="submit" value="Invite" data-ng-click="invite()" class="btn btn-primary" />-->
    </div>
    <!--End container-->

</div>
<!-- Modal -->
<div class="modal fade custom-modal" id="contact-number" role="dialog" ng-show="showphonedialer">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Enter Your Mobile No.</h6>
            </div>
            <div class="modal-body no-padding">
                <div class="input-field">
                    <input type="tel" class="validate" ng-model="phoneNumber" maxlength="10">
                </div>
            </div>
            <div class="modal-footer no-padding p-t-10 no-bg">
                <div class="white-sign-up">
                    <p><a ng-click="GetFbInvite()" data-dismiss="modal">Invite</a></p>
                </div>
            </div>
        </div>

    </div>
</div>
<!--end margin-top-30-->
<!--<div class="container custome-container border-top mrgn0">-->
    <!--<div class="invite-no ">-->
        <!--<span ng-click="getFBfriendlist()">Invite from facebook<span>(0000)</span> <span class="pull-right"><i class="fa fa-facebook facebook-icon"></i> <i class="fa fa-angle-right"></i></span></span>-->
        <!--<input type="number" class="text-center" id="" placeholder="Mobile No.">-->
    <!--</div>-->

<!--</div>-->
