<div class="container back-text">
    <a ng-click="SignUP();"><img src="images/back-arrow.png" alt="back arrow" title="back arrow" /> Back</a>
</div>
<!--start margin-top-30-->
<div class="margin-top-30">
    <div class="container qr-code-setting p-t-r-b-l-0 ">
        <div class="col-xs-2 col-sm-2 setting-icon wallet-img-max-width pull-left text-left">
            <a href="#"><img src="images/user-circle-icon.png" alt="" title=""></a>
        </div>
        <div class="col-xs-8 col-sm-8 text-center p-t-r-b-l-0 profile-second-img">
            <a href="#"><img src="images/friend-icons2.png" alt="" title=""><sup>17</sup></a>
        </div>
        <div class="col-xs-2 col-sm-2 setting-icon wallet-img-max-width pull-right text-right">
            <a href="#"><img src="images/setting-black.png" alt="" title=""></a>
        </div>
    </div>
    <!--End  qr-code-setting-->



    <!--start container-->
    <div class="container p-t-r-b-l-0 ">
        <div class="col-xs-12 col-sm-12 text-center search-heading">
            <h1>$42.55</h1>
        </div>
    </div>

    <!--End container-->
    <!--start heading container-->
    <div class="container  border-bottom custome-container">
        <div class="container p-tb-15-rl-0 ">
            <!--		 <div class="col-xs-4 col-sm-5 text-left"><a href="#"><i class="fa fa-angle-left"> </i> Back</a></div>-->
            <div class="col-xs-12 col-sm-12 text-center">Invite Friends</div>

        </div>
    </div>
    <div class="container">
        <div class="friend-serch-box">
            <div class="container invite-friend-list p-t-r-b-l-0 custome-container">
                <ul class="list-group border-property-none">
                    <li class="list-group-item"><a href="#"><i class="fa fa-check"></i> Friend 1</a></li>
                    <li class="list-group-item"><a href="#"><i class="fa fa-check"></i> Friend 1</a></li>
                    <li class="list-group-item"><a href="#"><i class="fa fa-check"></i> Friend 1</a></li>
                    <li class="list-group-item"><a href="#"><i class="fa fa-check"></i> Friend 1</a></li>
                    <li class="list-group-item"><a href="#"><i class="fa fa-check"></i> Friend 1</a></li>
                    <li class="list-group-item"><a href="#"><i class="fa fa-check"></i> Friend 1</a></li>
                    <li class="list-group-item"><a href="#"><i class="fa fa-check"></i> Friend 1</a></li>
                    <li class="list-group-item"><a href="#"><i class="fa fa-check"></i> Friend 1</a></li>
                    <li class="list-group-item"><a href="#"><i class="fa fa-check"></i> Friend 1</a></li>
                    <li class="list-group-item"><a href="#"><i class="fa fa-check"></i> Friend 1</a></li>
                    <li class="list-group-item"><a href="#"><i class="fa fa-check"></i> Friend 1</a></li>
                    <li class="list-group-item"><a href="#"><i class="fa fa-check"></i> Friend 1</a></li>
                </ul>
            </div>

        </div>
    </div>
    <!--End  heading container-->

    <div class="container m-t-b-15 social-icon-friends ">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
    </div>

    <!--start container-->
    <div class="container p-t-r-b-l-0 custome-container">
        <ul class="list-group border-right-left-none">
            <li class="list-group-item"><a href="#">invite from contact<span class="pull-right">invite <i class="fa fa-angle-right"></i></span></a></li>
            <li class="list-group-item"><a href="#">Call<span class="pull-right">invite <i class="fa fa-angle-right"></i></span></a></li>
        </ul>
    </div>
    <!--End container-->

</div>
<!--end margin-top-30-->

<!--End white-index-page-->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '1967943570102346',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.9'
    });
    FB.AppEvents.logPageView();
    alert("davender");
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>