<div class="container back-text">
    <a ng-click="backbtn()"><img ng-src="assets/images/back-arrow.png" alt="back arrow" title="back arrow" /> Back</a>
</div>
<!--start margin-top-30-->
<div class="margin-top-30">
    <div class="col-xs-12 col-sm-8 brand-img price-text text-center">
        <p>{{displayname}}</p>
    </div>
    <div class="container qr-code-setting p-t-r-b-l-0 ">
        <!--<div class="col-xs-2 col-sm-2 setting-icon wallet-img-max-width pull-right text-right "><a href="#"><img ng-src="assets/images/setting-black.png" alt="" title=""></a></div>-->
    </div>
    <!--End  qr-code-setting-->
    <div class="clearfix"></div>


    <!--start container-->
    <div class="container invite-friend-head p-t-r-b-l-0 bg-qr-container">
        <div class="col-xs-12 col-sm-8 brand-img price-text text-center">
            <h3 class="height">${{reward}}</h3>
        </div>
    </div>
    <!--End container-->
    <!--start heading container-->
    <div class="container search-heading text-center">
        <h3>Invite Friends</h3>
    </div>
    <!--End  heading container-->
    <!--start search container-->
    <div class="container form-group text-center search-overlay">
        <span class="fa fa-search"><input type="search" placeholder="Search" ng-model="search" class="form-control search-pannel pdng0" /></span>
    </div>
    <!--End  search container-->
    <!--start container-->



    <div class="container invite-code-head p-t-r-b-l-0 custome-container">
        <ul class="list-group border-right-left-none" ng-init="allContacts = (contact | sortAscending)">
            <li class="list-group-item no-padding" ng-if="contact.displayName != null && contact.phoneNumbers !=null" ng-repeat="contact in allContacts | filter : search | orderBy:'displayName'"><a class="full-width p-t-b-l-r" ng-click="inviteContact(contact.phoneNumbers[0].value.length>10?contact.phoneNumbers[0].value.substring(contact.phoneNumbers[0].value.length-10):contact.phoneNumbers[0].value)">{{contact.displayName}}<span class="pull-right">invite <i class="fa fa-angle-right"></i></span></a></li>
            <!--<li class="list-group-item no-padding" ng-if="contact.displayName != null && contact.phoneNumbers !=null" ng-repeat="contact in allContacts | filter : search"><a ng-click="inviteContact(contact.phoneNumbers[0].value.length>10?contact.phoneNumbers[0].value.substring(contact.phoneNumbers[0].value.length-10):contact.phoneNumbers[0].value)">{{contact.displayName}}<span class="pull-right">invite <i class="fa fa-angle-right"></i></span></a></li>-->

            <!--<li class="list-group-item"><a href="#">Friend 1<span class="pull-right">invite <i class="fa fa-angle-right"></i></span></a></li>
            <li class="list-group-item"><a href="#">Friend 1<span class="pull-right">invite <i class="fa fa-angle-right"></i></span></a></li>-->
        </ul>
    </div>
    <!--End container-->

</div>
<!--end margin-top-30-->
<div class="container custome-container border-top mrgn0">
    <div class="invite-no ">
        <!--<span ng-click="facebooklist()">Invite from facebook <span class="pull-right"><i class="fa fa-facebook facebook-icon"></i> <i class="fa fa-angle-right"></i></span></span>-->

    </div>

</div>
