<!--start white-index-page-->
<div class="white-index-page">
    <!--start index-content-->
    <div class="index-content">
        <!--start container white-perpetual-heading-->
        <div class="container white-perpetual-heading">
            <h1>Perpetual<br> Pay</h1>
        </div>
        <!--end container white-perpetual-heading-->
        <!--start white-social-icon-->
        <div class="container white-social-icon">
            <div class="row">
                <div class="input-field col s12">
                    <input  type="tel" class="validate phoneno" ng-model="user.phoneNumber"  ng-click="mob_Click()" minlength="10" maxlength="10" id="phonetype">
                    <label id="userPhone" class="phoneno">Mobile Number</label>
                    <span ng-show="showMobileNumber" style="color:red" ng-bind="MobileValidMess"></span>
                </div>
            </div>
        </div>
        <!--end white-social-icon-->
        <!--start white-sign-up-->
        <div class="container white-sign-up">
            <p><a ng-click="verifyPhoneNo();" class="homepage">Continue</a></p><br/>
            <p><a ng-click="alreadyregistered();" class="homepage">Already Registered?</a></p>
        </div>
        <!--End white-sign-up-->
    </div>
    <!--End white-index-page-->
</div>
<!--End white-index-page-->