<div class="container back-text" ng-click="backbtn();">
    <a ng-click="backbtn();"><img src="assets/images/back-arrow.png" alt="back arrow" title="back arrow" /> Back</a>
</div>
<!--start margin-top-30-->
<div class="margin-top-50">
    <div class="col-xs-12 col-sm-8 brand-img price-text text-center">
        <p>{{displayname}}</p>
    </div>
    <div class="container qr-code-setting p-t-r-b-l-0 ">
        <!--<div class="col-xs-3 col-sm-3 setting-icon wallet-img-max-width pull-left text-left"><a href="#"><img src="assets/images/user-circle-icon.png" alt="" title=""></a></div>-->
        <!---->
        <!--&lt;!&ndash; <div class="col-xs-6 col-sm-6 text-center p-t-r-b-l-0 wallet-img-max-width"><a href="friend-list.html"><img src="images/friend-icons2.png" alt="" title=""><sup>17</sup></a></div> &ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-xs-3 col-sm-3 setting-icon wallet-img-max-width pull-right text-right"><a href="#"><img src="assets/images/setting-black.png" alt="" title=""></a></div>&ndash;&gt;-->
    </div>
    <!--start  qr-code-setting-->
    <div class="qr-code-page">
        <div class="clearfix"></div>
        <div class="clearfix"></div>

        <!--start container-->
        <div class="container qr-code-head p-t-r-b-l-0 bg-qr-container">

            <!--<div class="col-xs-4 col-sm-4 img-max-width border-img">-->
            <!--<img ng-src={{businesslogo}} alt="brand image" title="brand image" />-->
            <!--</div>-->
            <div class="col-xs-12 col-sm-8 brand-img price-text text-center">
                <h3>${{reward}}</h3>
            </div>
        </div>
        <!--End container-->
        <!--start container-->
        <div class="container m-t-15 p-t-r-b-l-0">
            <div id="output" class="col-xs-12 col-sm-12 img-max-width text-center qr-img">
                <!--<img src="assets/images/qr-code.jpg" alt="qr-code" title="qr-code" />-->
            </div>

        </div>
        <!--End container-->
    </div>

</div>
<!--end margin-top-30-->
