<!--start white-index-page-->
<div class="white-index-page signup-page">
    <!--start index-content-->
    <div class="index-content">
        <!--start container white-perpetual-heading-->
        <div class="container white-perpetual-heading">
            <h1>Sign Up</h1>
        </div>
        <!--end container white-perpetual-heading-->
        <!--start white-social-icon-->
        <div class="container">
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="validate phoneno" ng-model="user.ffrstname" ng-click="firstname_Click()">
                    <label class="phoneno">First Name</label>
                    <span ng-show="showfirstname" style="color:red" ng-bind="FNValidMess"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="validate phoneno" ng-model="user.LastName" ng-click="lastname_Click()">
                    <label class="phoneno">Last Name</label>
                    <span ng-show="showlasttname" style="color:red" ng-bind="LNValidMess"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="validate phoneno" ng-model="user.UserName" ng-click="username_Click()">
                    <label class="phoneno">User Name</label>
                    <span ng-show="showUsername" style="color:red" ng-bind="UNValidMess"></span>
                </div>
            </div>
            <!--<div class="row">-->
                <!--<div class="input-field col s12">-->
                    <!--<input  type="tel" class="validate" ng-model="user.phoneNumber"  ng-click="mob_Click()" minlength="10" maxlength="10">-->
                    <!--<label id="userPhone">Mobile Number</label>-->
                    <!--<span ng-show="showMobileNumber" style="color:red" ng-bind="MobileValidMess"></span>-->
                <!--</div>-->
            <!--</div>-->

            <div class="row">
                <div class="input-field password-field col s12">
                    <span class="password-toggle-icon eyeiconsign"  ng-click="hideShowPassword()">
                        <i class="fa fa-eye" aria-hidden="true"  ng-show="showeyeIcon" id=eyeIcon></i>
                        <i class="fa fa-eye-slash" aria-hidden="true"  ng-show="hideeyeIcon" id=eyeIcon></i>
                    </span>
                    <input type="{{inputType}}" class="validate phoneno" ng-model="user.Password"  placeholder="{{placevalue}}" id="password" name="password" ng-click="password_Click()">
                    <label class="phoneno" id="Passwordlel">Password</label>
                    <span ng-show="showpassword" style="color:red" ng-bind="passwordValidMess"></span>
                </div>
            </div>
        </div>
        <!--end white-social-icon-->
        <!--start white-sign-up-->
        <div class="container white-sign-up">
            <p><a ng-click="CreateNewUser(user);" class="homepage">Sign Up</a></p>
        </div>
        <!--End white-sign-up-->
    </div>
    <!--End white-index-page-->
</div>
<!--End white-index-page-->





<script>
    $("#eyeIcon").hide();
</script>